@page "/"

<PageTitle>Index</PageTitle>
@* 
<h1 class="centered-h1">Welcome to Student Management System.</h1> *@


<body class="index-background">
    <h1 class="centered-h1">Welcome to Student Management System.</h1>
</body>
<SurveyPrompt Title="Swetha Hosamani" />
