<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWebApi2</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
       
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getStudentData">
                <span class="oi oi-list-rich" aria-hidden="true"></span> getStudentData
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getStudentByID">
                <span class="oi oi-list-rich" aria-hidden="true"></span> getStudentByID
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deleteStudentData">
                <span class="oi oi-list-rich" aria-hidden="true"></span> deleteStudentData
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addStudentData">
                <span class="oi oi-list-rich" aria-hidden="true"></span> addStudentData
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="updateStudentData">
                <span class="oi oi-list-rich" aria-hidden="true"></span> updateStudentData
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="studentDataImport">
                <span class="oi oi-list-rich" aria-hidden="true"></span> studentDataImport
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="studentDataExport">
                <span class="oi oi-list-rich" aria-hidden="true"></span> studentDataExport
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="databaseTruncate">
                <span class="oi oi-list-rich" aria-hidden="true"></span> databaseTruncate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="softdelete">
                <span class="oi oi-list-rich" aria-hidden="true"></span> softdelete
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datarecovery">
                <span class="oi oi-list-rich" aria-hidden="true"></span> datarecovery
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
